/* @theme ptc */

@import 'default';

@import url('data:text/css,.bespoke-progress-bar { background: lightgray !important; }');

@font-face {
    font-family: "LexieReadable";
    src: url('./fonts/lexia_readable/LexieReadable-Regular.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: "QuickSand";
    src: url('./fonts/quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-display: fallback;
}

:root {
    --primary-font: "QuickSand", ubuntu, sans-serif !important;
    --secondary-font: "LexieReadable", ubuntu, sans-serif;
    --heading-strong-color: var(--primary-color);
    --header-footer-font: var(--primary-font);
    --header-footer-color: #b7b7cf;
    --primary-color: #343457;
    --secondary-color: #ff3162;
}

:root.invert {
    --primary-color: #fff;
}

::marker {
    color: var(--header-footer-color);
}

section {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

section::after {
    color: var(--header-footer-color);
    font-family: var(--header-footer-font);
    font-size: 18px;
}

h1, h2, h3 {
    color: var(--secondary-color) !important;
    font-family: var(--secondary-font);
}

strong {
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--secondary-color)
}

header, footer {
    font-family: var(--header-footer-font);
    color: var(--header-footer-color);
}
